<footer style="background-color: lightblue;
">

    <div class="container">
        <div class="footer-logo">
            <a href="#">
                <img src="/assets/Great.jpg" alt="logo">
            </a>
        </div>
        <nav class="footer-nav">
            <div class="footer-col">
                <h5 class="title">DoConnect</h5>
            </div>
            

            <div class="footer-col">
                <h5 class="title">Company</h5>
                <ul class="footer-list">
                    <li><a href="">Career</a> </li>
                    <li><a href="">Privacy Policy</a> </li>
                    <li><a href="">Term of Services</a> </li>
                    <li><a href="">About</a> </li>

                </ul>
            </div>

            <div class="footer-col">
                <h5 class="title">Stack</h5>
                <ul class="footer-list">
                    <li><a href="">Technology</a> </li>
                    <li><a href="">Professional</a> </li>
                    <li><a href="">Science</a> </li>
                </ul>
            </div>

        </nav>
        <div class="footer-col">
        <div class="footer-copyright">
            <h5 class="title">Contact us</h5>
            <ul class="footer-list">
                <li class="me-2"><a href="https://www.facebook.com/groups/1707445862953928/"> Facebook</a></li>
                <li class="me-2"><a href="">Twitter</a> </li>
                <li class="me-2"><a href="">LinkedIn</a> </li>
                <li class="me-2"><a href="">Instagram</a> </li>
            </ul>
        </div>
        </div>
    </div>
</footer>
